
body{background-color: rgb(97, 10, 179);  

}
h1{
color: red;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 30px;
text-align: center;
}
p{ 
color:brown;
font-family:'Times New Roman', Times, serif ;
font-size: 36px;
}
