
body{background-color: rgb(15, 14, 15);  

}
h1{
color: rgb(8, 73, 194);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 30px;
text-align: center;
}
p{ 
color:rgb(111, 32, 131);
font-family:'Times New Roman', Times, serif ;
font-size: 36px;
text-align: center;
}
