
body{
background-color:black;

}


 h1{
color:rgb(24, 58, 206);
font-family:Georgia, 'Times New Roman', Times, serif ; 
text-align: center;
font: 30px;
}

p{
color:blueviolet;
font-family:'Courier New', Courier, monospace;
font-size: 22px;
text-align:center;

} 

#muda{
    color: aqua;
    font: size 23px;;
}
