
body{
background-color:black;

}


 h1{
color:aqua;
font-family:Georgia, 'Times New Roman', Times, serif ; 
text-align: center;
font: 20px;
}

p{
color:blueviolet;
font-family:'Courier New', Courier, monospace;
font-size: 25px;
text-align:center;

}
